apiVersion: apps/v1
kind: Deployment
metadata:
  name: preferred-na-deploy
spec:
  replicas: 20
  selector:
    matchLabels:
      app: app1
  template:
    metadata:
      labels:
        app: app1
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: model
                operator: In
                values:
                - ml
                - ai
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 10
            preference:
              matchExpressions:
              - key: model
                operator: In
                values:
                - ml
          - weight: 2
            preference:
              matchExpressions:
              - key: model
                operator: In
                values:
                - ai
      containers:
      - name: nginx
        image: nginx

# This configuration combines required and preferred affinities:

# Required rule → Pods can be scheduled only on nodes labeled model=ml or model=ai (strict filter).

# Preferred rule → Among those eligible nodes, the scheduler will favor ml (weight 10) over ai (weight 2).

# Result → All pods land on ml or ai nodes, with most on ml, none on other nodes (like gpu).
