apiVersion: apps/v1
kind: Deployment
metadata:
  name: na-deploy
spec:
  replicas: 10
  selector:
    matchLabels:
      app: app1
  template:
    metadata:
      labels:
        app: app1
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: model
                operator: In
                values:
                - ai
              - key: model
                operator: In
                values:
                - ml
      containers:
      - name: nginx
        image: nginx
